body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-style: normal;
  background-color: #c9d3d7;
}

.card-container {
  width: 340px;
  margin-top: 100px;
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 6px 0px 12px rgba(39, 52, 69, 0.12);
}

label {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.1px;
  margin-bottom: 4px;
  display: block;
  color: gray;
  margin-top: 20px;
}

input {
  width: 100%;
  font-size: 18px;
  padding: 8px 0;
  border: none;
  border-bottom: 1px solid rgb(201, 201, 201);
}

input:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.button {
  border: none;
  background-color: #3543bf;
  color: white;
  padding: 15px 32px;
  text-align: center;
  width: 100%;
  font-size: 14px;
  border-radius: 4px;
}

.grp-container {
  display: flex;
  gap: 24px;
}

.error {
  font-size: 10px;
  color: rgba(255, 0, 0, 0.696);
  display: none;
}

.display {
  display: block;
}
